################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProjectForLab2IT/.vs/ProjectForLab2IT/FileContentIndex
/ProjectForLab2IT/.vs/ProjectForLab2IT/v17
